<main>
<h2 class="title">Sign our petition to make the wearing of Crocs in public places a criminal act in every jurisdiction!</h2>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form>
<a href="/petition/signed"><button>Submit</button></a>
</main>
