<div class="container">
    <h2>Thanks for signing our petition to make the wearing....</h2>
    <h4>Your signature</h4>
    <img src="{{signature}}" alt="">
    <a class="signers-name" href="./signers">See the list of people who signed</a>
</div>
