body {
    background-color: rgb(57, 136, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

header {
    background-color: orange;
    height: 50px;
}

.title {
    text-align: center;
    margin-top: 50px;
}

main {
    flex-grow: 1;
}

footer {
    height: 40px;
}