body {
    background-color: rgb(57, 136, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    margin: 0;
}


.title {
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.container {
    text-align: center;
}

footer {
    height: 40px;
}

.error {
    color: tomato;
}


canvas {
    border: 2px dashed black;
}

button {

    text-align: center;
}

