<div class="login-container">
    <h1 class="title">Log In</h1>
    <form method='POST'>
        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
        <input type="password" class="form-control" id="password" name="password" placeholder="Your Password" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button logbutton">Log In</button>
    </form>
</div>
{{#if error}}
<h2 class="error">Email or Password aren't correct!</h25>
    {{/if}}