<h1 class="title">Now please tell us just a little bit more about yourself</h1>
<div class="pro-container">

    <form method='POST' class="proform">
        <input type="text" class="form-control" id="age" name="age" placeholder="Age" />
        <input type="text" class="form-control" id="city" name="city" placeholder="City" />
        <input type="text" class="form-control" id="homepage" name="url" placeholder="Homepage" />
        <input type="submit" value="Continue!" class="button upbtn">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
{{#if error}}
<h2 class="error">Your url must start with "http://" or "https://"</h2>
{{/if}}