<div class="container">
    <h2>Thanks for signing our petition to make the wearing....</h2>
    <h4>Your signature</h4>
    <img src="{{signature}}" alt="">
    <a class="signers-name" href="./signers">See all {{numSigners}} signers.</a>
    <a href="./profile/edit">Edit your profile</a>
    <form method="POST">
        <button>Delete your signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a href="./logout"><button>Log Out</button></a>
</div>