<div class="container">
    <h2>Thanks for signing our petition to make the wearing....</h2>
    <h4>Your signature</h4>
    <img src="{{signature}}" alt="">
    <a class="signers-name" href="./signers">See all {{numSigners}} signers.</a>
    <form method="POST">
        <input type="submit" value="Edit Your Profile!">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>