<div class="tnx-container">
    <h1 class="title">Thank you!</h1>
    <h4>Your signature</h4>
    <img src="{{signature}}" alt="" class="sign-img">
    <form method="POST">
        <button class="button delete">Delete your signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a class="signers-link" href="./signers">See who`s supporting this cause</a>
</div>